---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>

			.post-item {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;
				border-bottom: 1px solid white;
				border-left: 1px solid white;
				border-right: 1px solid white;
				padding: 30px 20px;
			}
			.post-item:first-child {
				border-top: 1px solid white;
			}
			.post-item:hover {
				background-color: black;
			}

			.post-item h4 {
				font-size: 16px

			}

			.post-item  {
				text-decoration: none;	
			}
			.date {
				margin:0;
				font-size:14px;
			}


	
		</style> 
	</head>
	<body>
		<Header />
		<img src="https://upload.wikimedia.org/wikipedia/commons/4/45/Qian_Xuan_-_Early_Autumn.jpg" alt="Qian_Xuan_Early_Autumn">
		<main style="margin-top: 20px;margin-bottom: 20px;">
			
			<section >
				{
					posts.reverse().map((post) => (
						<a href={`/${post.slug}/`} class="post-item">
							<p class="date"><FormattedDate date={post.data.pubDate} /></p>
							<span>{post.data.title}</span>
						</a>
					))
				}
			</section>

		</main>
	</body>
</html>
